select
    pg_constraint.conname as fk_name
    --pg_class_source.relname as source_table,
    --pg_attribute_source.attname as source_column,
    --pg_class_destination.relname as destination_table,
    --pg_attribute_destination.attname as destination_column
from pg_constraint pg_constraint
join pg_class pg_class_source on pg_class_source.oid = pg_constraint.conrelid
join pg_attribute pg_attribute_source on
    pg_attribute_source.attrelid = pg_constraint.conrelid AND
    pg_attribute_source.attnum = ANY (pg_constraint.conkey)
join pg_class pg_class_destination on pg_class_destination.oid = pg_constraint.confrelid
join pg_attribute pg_attribute_destination on
    pg_attribute_destination.attrelid = pg_constraint.confrelid AND
    pg_attribute_destination.attnum = ANY (pg_constraint.confkey)
where
    pg_constraint.contype = 'f' and
    pg_constraint.conname != left('fk__' || pg_class_source.relname || '__' || pg_attribute_source.attname, 63) and
    pg_constraint.conname NOT IN (#EXCLUSIONS#)
order by
    pg_class_source.relname,
    pg_attribute_source.attname,
    pg_constraint.conname
;