[project]
	description = Contains build and other common scripts for Beacon webapps and wgspring modules.
	state = active
[access]
	inheritFrom = wgspring
[access "refs/*"]
	owner = group Registered Users
	create = group Registered Users
	forgeAuthor = group PK-12-Admins
	forgeCommitter = group PK-12-Admins
	label-Code-Review = -2..+2 group PK-12-Users
	submit = group PK-12-Users
	push = group PK-12-Admins
[receive]
	requireChangeId = true
